@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #121214;
    --title-color: #08C05E;
    --form-text-color: #A8A8A8;
    --form-color: #6A6A6A;
    --rent-color: #04D361;
    --bt-color: #8257E5;
}

body {
    /* width: 50%; */
    /*height: 100vh; */
    background: var(--bg-color);
}

.background_image img {
    width: 50%;
    height: 100vh;
    right: 0;
    position: absolute;
    z-index: 0;
}

.logo img {
    width: 389px;
    height: 94px;
    margin: 52px 0 0 30px;
}

.about {
    margin: 92px 0 0 30px;
}


.about_title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Work Sans', sans-serif;
}

.about_subtitle {
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: 'League Spartan', sans-serif;
    margin: 8.56px 0 9px 0;
}

.about_paragraph {
    color: white;
    opacity: 0.5;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 50px;
}

.form {
    margin-left: 28px;
}

.descrition {
    color: var(--form-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 138.73%;
    margin-bottom: 3px;
    display:block;
}

#user_email {
    width: 50%;
    height: 48px;
    margin-bottom: 52px;
    position: relative;
}

.button {
    width: 48px;
    height: 48px;
    z-index: 1;
    position: absolute;
    background-color: var(--bt-color);
    border: none;
}

.footer_text {
    color: var(--bt-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 138.73%;
    font-family: 'League Spartan', sans-serif;
    margin: 52px 0 0 36px;
}

svg {
    height: 18px;
    width: 18px;
}
